
<div *ngIf="!isAdminLoggedIn" class="admin-login-container">
    <h2>Area Amministrativa - Login</h2>
    <form (submit)="login(username.value, password.value)" class="login-form">
        <label for="username">Nome Utente:</label>
        <input type="text" id="username" required #username />

        <label for="password">Password:</label>
        <input type="password" id="password" required #password />

        <button type="submit">Login</button>
    </form>
</div>

<div *ngIf="isAdminLoggedIn" class="admin-users-container">
    <h2>Area Amministrativa - Utenti</h2>
    <ul>
        <li *ngFor="let user of users" class="user-item">
            <div>
                <strong>{{ user.nomeUtente }}</strong> - Bloccato: {{ user.bloccato ? 'Sì' : 'No' }}
            </div>
            <button (click)="toggleUserStatus(user.id)">Sblocca Utente</button>
            &nbsp;
            <button (click)="toggleUserStatusBlocca(user.id)">Blocca Utente</button>
            &nbsp;
            <button style="background-color: red;" (click)="deleteUser(user.id)">Elimina Utente</button>
            &nbsp;
            <input type="password" [(ngModel)]="nuovaPassword" placeholder="Nuova Password" />
            &nbsp;
            <button (click)="updateUserPassword(user.id)">Aggiorna Password</button>

        </li>
    </ul>
</div>
